<div id="header">
  <a class="logo">
    <h1>ParkSmart <span style="font-size: 48px; color: Dodgerblue;"><i class="fas fa-car-side"></i></span></h1>
  </a>
</div>

<div class="fluid-container" id="homepage-background">
  <h3 id="slogan">Make money with space. Save money with parking.</h3>

  <form class=col-sm-4 id="location-box-homepage">
    <div class="form-group">
      <input class="form-control" list="current-location" id="user-choice"
        placeholder="Enter zip code or choose current location" />
      <datalist id="current-location">
        <option value="Current Location">
      </datalist>

    </div>
      <button class="btn btn-info " id="search-button-homepage" role="button" ><i class="fas fa-search"></i></button>

  </form>

</div>

<!--<script>
  $("#search-button-homepage").on("click", function getLocation() {
    getCity();
  });
</script> -->


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>