/* Global CSS */

.logo {
    position: absolute;
    left: 40%;
    font-size: 60%;
    padding: 10px 0;  
}

.logo h1 {
    color: dodgerblue;
}

body,
html {
    min-height: 100%;
}


/* Index page CSS */

#index-body {
    background-image: 
        linear-gradient(
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)
        ), 
        url("../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#slogan {
    color: rgb(8, 36, 63);
    text-align: center;
    padding-top: 10%;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-shadow: rgb(255, 255, 255)   0rem 0rem 1.5rem;
}

#user-choice {
    height: 60px;
    text-indent: 20px;
}

option {
    font-size: 100%;
    color: gray;
}

#search-button-homepage {
    font-size: 150%;
    background-color: white;
    color: dodgerblue;   
}

select {
    font-family: 'FontAwesome', 'Second Font Name';
}


/* Map Page CSS */

#header {
    height: 70px;
    position: relative;
    background-color: white;
    box-shadow: 0rem 0rem 0.75rem;
}

#location-post {
    height: 50px;
    margin: 0;
    /* border-bottom-style: solid;
    border-bottom-color: rgb(193, 201, 193); */
    border-width: 0.3px;
}

#location-box {
    height: 30px;
    border-style: none;
    border-color: dodgerblue;
    border-radius: 3px;
    border-width: 1px;
    margin-top: 2%;
    margin-left: 7%;
}

label {
    color: gray;
}


a:hover {
    text-decoration: none;
}

#map {
    height: 700px;
    /* height: 100%; */
    width: 100%;
    overflow: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(187, 187, 187);
}