/* Index page CSS */

#homepage-background {
    background-image: url("../assets/img/background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#slogan {
    color: rgb(213, 213, 230);
    text-align: center;
    padding-top: 10%;
    font-family: 'Merriweather', serif;
    font-size: 200%;

}

#location-box-homepage {
    position: relative;
    margin-left: 32%;
    margin-top: 3%;
    height: 120px;

}

#user-choice {
    height: 60px;
    text-indent: 20px;

}


option {
    font-size: 100%;
    color: gray;
}

#search-button-homepage {
    position: absolute;
    font-size: 150%;
    padding: 0;
    top: 10%;
    left: 85%;
    background-color: transparent;
    border-style: none;
    color: dodgerblue;
   
    
}

select {
    font-family: 'FontAwesome', 'Second Font Name';
    
}




/* Map Page CSS */
#header {
    height: 80px;
    position: relative;
    border-bottom-style: solid;
    border-bottom-color: rgb(193, 201, 193);
    border-width: 0.3px;
}


.logo {
    position: absolute;
    left: 40%;
    font-size: 60%;
    padding: 10px 0;
  
    
}

.logo h1 {
    color: dodgerblue;
}

#location-post {
    height: 50px;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-color: rgb(193, 201, 193);
    border-width: 0.3px;

}

#location-box {
    height: 30px;
    border-style: none;
    border-color: dodgerblue;
    border-radius: 3px;
    border-width: 1px;
    margin-top: 2%;
    margin-left: 7%;
   
   

}
#location-input {
    position: absolute;
    height: 30px;
    padding: 0px;
    text-indent: 15px;
    border-style: solid;
    border-color: dodgerblue;
    border-radius: 3px;
    border-width: 1px;
   
}

#search-button {
    position:absolute;
    left: 83%;
    margin-top: 1%;   
    font-size: 15px;
    color: dodgerblue;
    background-color: white;
    border-style: none;
    padding: 0px;
    z-index: 10;

}

#post-button {
    
    font-size: 15px;
    height: 30px;
    margin-top: 2%;
    margin-left: 110%;
    padding-top: 0.5%;
}

label {
    color: gray;
}


a:hover {
    text-decoration: none;
}

#map {
    height: 960px;
    overflow: auto
}

    #mapContainer {
    margin: 0px;
    padding: 0px;
}

/* Mdeia Query */
@media only screen and (max-width: 600px) {
    /*index page*/
    .logo {
        left: 30%;
    }

    #slogan {
       font-size:150%;
       padding-top: 15%;
    }

    #location-box-homepage {
        position: relative;
        width: 400px;
        margin-left: 10%;
        margin-top: 8%;
        height: 110px;

    }


    #search-button-homepage {
    position: absolute;
    font-size: 100%;
    padding: 0;
    top: 16%;
    left: 90%;
    background-color: transparent;
    border-style: none;
    color: dodgerblue;

    }

    #user-choice {
        height: 60px;
        text-indent: 0px;
        font-size: 100%;
        
    
    }

    /* map page*/

    #location-box {
        margin-left: 0;
    }
    #location-input {
        width: 180px;
        
    }
    #search-button {
        left: 30%;
    }
    
    #post-button {
        width: 180px;
        margin-left: 60%;
        margin-top: -20%;
    }
   
}
@media only screen and (min-width: 600px) {
    /* index page */
    .logo {
        left: 30%;

    }
    #location-box-homepage {
        position: relative;
       
        margin-left: 10%;
        margin-top: 8%;
        height: 110px;

    }
    #user-choice {
        width: 500px;
        
    }
    #search-button-homepage  {
        left: 190%;
    }

    /* map page */
    #location-box {
        margin-top: 2%;
    }

    #search-button {
        margin-top: 2%;
    }

    #post-button {
        margin-top: 4%;
    }

    @media only screen and (min-width: 768px) {
        /* index page */
        .logo {
            left: 35%;
        }
        #location-box-homepage {
            margin-left: 20%;

        }
        #search-button-homepage  {
            left: 150%;
        }

    }

    @media only screen and (min-width: 992px) {
        #search-button-homepage  {
            left: 135%;
        }

    }

    @media only screen and (min-width: 1200px) {
        /* index page */
        .logo {
            left: 40%;
        }
        #location-box-homepage {
            margin-top: 3%;
            margin-left: 30%;
        }
        #search-button-homepage {
            left: 95%;
        }

        /* map page */
        #location-box {
            margin-top: 2%;
        }
    
        #search-button {
            margin-top: 1%;
        }
    
        #post-button {
            margin-top: 2%;
        }

    }




}

    

